@import "tabler/dashboard.css";

@font-face {
    font-family: "feather";
    src: font-url("../fonts/feather/feather-webfont.eot?t=1501841394106");
    /* IE9*/
    src: font-url("../fonts/feather/feather-webfont.eot?t=1501841394106#iefix") format("embedded-opentype"), 
    font-url("../fonts/feather/feather-webfont.woff?t=1501841394106") format("woff"), 
    font-url("../fonts/feather/feather-webfont.ttf?t=1501841394106") format("truetype"), 
    font-url("../fonts/feather/feather-webfont.svg?t=1501841394106#feather") format("svg");
    /* iOS 4.1- */
  }