database: &database
  db.username:
  db.password:
  db.host:

mailer: &mailer
  mailer.host: localhost
  mailer.port: '3000'

development:
  <<: *database
  <<: *mailer

test:
  <<: *database
  <<: *mailer